/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custome style*/

body {
    line-height: 1.5;
    font-size: 24px;
    margin: 1.5%;
    }
    /* clearfix */
    .clearfix::before, .clearfix::after{
        content: "";
        display: table;
    }
    .clearfix::after{
        clear: both;
    }

* {
    box-sizing: border-box;
    }
   
header {
    background-color: #5385C1;
    font-size: 24px;
    padding: 20px; 
  }
    
.heading {
    font-size: 44px;
    text-align: center;
    color: #F1F5FA;
    padding:30px;
    
}
.logo {
   color: white;
   font-size: 24px;
   float: left;
   margin: 0 16px ;
	}
h4 {
    font-size: 16px;
    text-align: center;
    color: #82a2cc;
    padding-bottom: 30px;
    

}
.nav {
	float: right; 
}

header a {
	text-decoration: none;
	color:white;
    margin: 0 16px; 
    font-size: 20px;  
		
	}
	.container {
       max-width:1800px ;
       padding: 50px;
	 
   } 
   .col {
    padding: 20px; 
    float: left;
    margin: 1.5%;
   }
    .col-1 {
        width:30%;
        
        }
    .col-2 {
        width:30%;	
        }
    .col-3 {
        width:30%;	
       }

h3 {
    font-size: 24px;
    color: #5385C1;
}
.paragraph {
    font-size: 12px;
    color: black;
}

.btn {
    background-color:#5385C1 ;
    font-size: 14px;
    padding: 8px;
    border-radius: none;
}
.more {
    text-decoration: none; 
    color:white;

}

.personinfo {
    /* min-height: 300px; */
    background-color: #5385C1;
    padding:60px 60px;

}
.personinfo .card {
    width:25% ;
    float: left;
    padding: 0 15px;
}
.box {
    border: 2px solid #bacee6;
    width: 220px;
    padding: 15px;
}
 .image {
    border-radius: 50%;
} 
.about {
    color: white;
    font-size: 24px;
    text-align: center;
}
.thirdsection {
    width: 48%;
    float: left;
    padding:60px 60px;
    margin: 10px;
}
.highway {
    width: 100%;
    border-radius: 2px;
}
.heading3 {
    font-size: 40px;
    color:  #5385C1;;
    text-align: center;
    padding: 40px;
   
}
hr {
   
    margin: 30px;
    width: 90%;
}
.footer
{
    background-color: #5385C1;
    font-size: 24px; 
    padding: 20px;  
    display: inline-block;
    
}
 .icon {  
    width:2% ;
    margin: 0 16px ;
    float: right;
       
    }
   
 
  



